.abt {
    font-size: 3.2rem;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    padding-bottom: 55px;
}
.left{
    border: hidden;
    background-color: #023e8a;
    padding-top: 20px;
    padding-bottom: 35px;
}
.name1{
    color: white;
    padding-left: 50%;
    font-size: 2.2rem;
}

.content1{
    color: white;
    padding-left: 45%;
    padding-right: 15%;
    text-align: center;
    font-size: 1.2rem;
}

.name{
    padding-top: 30px;
    color: white;
    padding-left: 22%;
    font-size: 2.2rem;
}
.content{
    color: white;
    padding-right: 55%;
    padding-left: 12%;
    text-align: center;
    font-size: 1.2rem;
}
.right{
    background-color: #023047;
    padding-bottom: 20px;
}